<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title></title>
</head>

<body>
  <div id="root"></div>

  <script crossorigin src="https://unpkg.com/react@<%= reactVersion %>/umd/react.production.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@<%= reactDomVersion %>/umd/react-dom.production.min.js"></script>
</body>

</html>
